.searchbar{
    padding-left:30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}
.searchbar input{
    font-size: 20px;
    border: none;
    width:70%;
    background-color: transparent;
    resize: none;
    outline: none;



}

