.hotelsui{
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:7.5px 15px;

}

.hotelsui_backarrow{
    display: flex;
    padding-left: 20px;
    align-items: center;
    color:#474747;
}

.hotelsui_backarrow p{
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    
    
}


.hotelcard{
    margin:7.5px 15px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    transition: 300ms;
}

.hotelcard:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  border-radius: 10px;
}


.hotelcard img{
    height: 100px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.hotelcard h4{
    color: #474747;
}

.hotelcard p{
    color: #999999;
    font-size: 12px;
}

#price{
    padding: 5px 0px;
    color: #a628ec;
}

.hotelcard_icons{
    display: flex;
}
.hotelcard_icons_row{
    display:flex;
    padding-right: 20px;
}
.hotelcard_icons p{

    font-size: 10px;

}

.hotelbookingcard_input button{
    color:#474747;
    font-weight: bold;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #474747;
    
}

.hotelbookingcard_input button:hover{
    color:white;
    background-color: #a628ec;
    border: 1px solid white;
    transition: 300ms;
    
    
}














.hotelbookingcard{
    margin:7.5px 15px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: 300ms;
}
.hotelbookingcard_column1{
    display:flex;
}

.hotelbookingcard:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  border-radius: 10px;
}

.hotelbookingcard_right{
    margin-left: 10px;
    width: 100%;
}


.hotelbookingcard img{
    height: 100px;
    border-radius: 10px;
}
.hotelbookingcard h4{
    color: #474747;
}

.hotelbookingcard p{
    color: #999999;
    font-size: 12px;
}

#bookingprice{
    padding: 5px 0px;
    color: #a628ec;
    text-align: right;
}

.hotelbookingcard_icons{
    display: flex;
}
.hotelbookingcard_icons_row{
    display:flex;
    padding-right: 20px;
}
.hotelbookingcard_icons p{

    font-size: 10px;

}

.hotelbookingcard_input input{
    width: 120px;
    border-radius: 8px;
    padding: 5px;
    border-color: #999999;
    border-width: thin;
    
}

.star{
    display:flex;
}

