

* {
  margin: 0px;
  padding: 0px ;
}
.LeftSide{
  border: solid 1px black;
  margin:0px;
  background-color: white;

  width: 45%;
  height: 100%;
  border-radius: 20px;
}
.row{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: end;
  
}


.row_left{
  
  display: flex;
  padding-top: 20px;

}
.row_left p{
  padding-left: 30px;
  color: #999999;
}
.row_left h3{
  padding-left: 30px;
  color:#474747;
}

.row_right{
  padding-top: 16px;
  padding-right: 30px;
}
.row_right img{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  
}
